--- 
http_interactions: 
- request: 
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?sensor=false&input=Paris&types=geocode&key=foobar
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |
        {
           "predictions" : [
              {
                 "description" : "Paris, France",
                 "id" : "691b237b0322f28988f3ce03e321ff72a12167fd",
                 "matched_substrings" : [
                    {
                       "length" : 5,
                       "offset" : 0
                    }
                 ],
                 "reference" : "CjQlAAAAbxWQKeLK2bB02Pz7b7qs58917h-IUG6o1ax3o4yndwpRen4bDG9j-Sgltjhk_pBXEhAF6_Lwh1wgcovNN2sLN_sXGhQh7a8leoI3PZ2pytmUkMO5UkQ70Q",
                 "terms" : [
                    {
                       "offset" : 0,
                       "value" : "Paris"
                    },
                    {
                       "offset" : 7,
                       "value" : "France"
                    }
                 ],
                 "types" : [ "locality", "political", "geocode" ]
              },
              {
                 "description" : "Paris, TX, United States",
                 "id" : "518e47f3d7f39277eb3bc895cb84419c2b43b5ac",
                 "matched_substrings" : [
                    {
                       "length" : 5,
                       "offset" : 0
                    }
                 ],
                 "reference" : "CjQwAAAA18vpsIq0s0k9ExIZAVhe-wEAjrDyltCuPA9bfI4uu5U0ZE65mup_Q4M6RB9efwjYEhC5A36ztiv9H4h[...]
