--- 
http_interactions: 
- request: 
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?location=40.606654%2C-74.036865&radius=50&sensor=false&input=coffee&types=establishment&key=foobar
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |
        {
           "predictions" : [
              {
                 "description" : "The Coffee Foundry, West 4th Street, New York, NY, United States",
                 "id" : "51be4d8ac4ff2414a06ab18f04603d9c0017b166",
                 "matched_substrings" : [
                    {
                       "length" : 6,
                       "offset" : 4
                    }
                 ],
                 "reference" : "CoQBeQAAAFtWgSf0T-_eoGjwrviqDll3U8_cHZIvDyESiUabAPdTTdrQsmyUOgMDz5mavSBvEeItHnfOwZc_gV6WVShywUMo16SXfrbQZThy_m_qtmv3cmGJvw38Up-3X8ESknbBS5FO7YP6N--NSgEvuGFngofEvRjiYq6GXASVkOXlNXtOEhArZmbGgTyeMipcQ4CYAi6xGhRlhYNJJ41TRUlthU2IK4L3GMboCQ",
                 "terms" : [
                    {
                       "offset" : 0,
                       "value" : "The Coffee Foundry"
                    },
                    {
                       "offset" : 20,
                       "value" : "West 4th Street"
                    },
                    {
                       "offset" : 37,
                       "value" : "New York"
                    },
                    {
                       "offset" : 47,
                       "value" : "NY"
                    },
                    {
                       "offset" : 51,
                       "value" : "United States"
                    }
                 ],
                 "types" : [ "establishment" ]
              },
              {
                 "description" : "G M Coffee Co, New York, NY, United States",
                 "id" : "026280a7d283bb69ba14489c89e1a669c38f46cc",
                 "matched_substrings" : [
                    {
                       "length" : 6,
                       "offset" : 4
                    }
                 ],
                 "reference" : "CnRiAAAAWaeT8prHyCPTnduO7jLGtxuz6PugrdNeb59sSk79VeNMAWwnEQ17rgfiMnor8V04wy10OdU0ryW4KsOA[...]
